@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* React Image Crop styles */
.ReactCrop {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  touch-action: none;
}

.ReactCrop * {
  box-sizing: border-box;
}

.ReactCrop__image {
  display: block;
  width: 100%;
  height: auto;
}

.ReactCrop__crop-selection {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  cursor: move;
  box-shadow: 0 0 0 9999em rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.ReactCrop__crop-selection:focus {
  border: 1px solid #ccc;
  outline: none;
}

.ReactCrop__drag-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  outline: 1px solid transparent;
}

.ReactCrop__drag-handle:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  cursor: inherit;
}

.ReactCrop__drag-handle--n {
  top: -6px;
  left: 50%;
  margin-left: -6px;
  cursor: n-resize;
}

.ReactCrop__drag-handle--ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.ReactCrop__drag-handle--e {
  top: 50%;
  right: -6px;
  margin-top: -6px;
  cursor: e-resize;
}

.ReactCrop__drag-handle--se {
  bottom: -6px;
  right: -6px;
  cursor: se-resize;
}

.ReactCrop__drag-handle--s {
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
  cursor: s-resize;
}

.ReactCrop__drag-handle--sw {
  bottom: -6px;
  left: -6px;
  cursor: sw-resize;
}

.ReactCrop__drag-handle--w {
  top: 50%;
  left: -6px;
  margin-top: -6px;
  cursor: w-resize;
}

.ReactCrop__drag-handle--nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}
